<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Liftr2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3481CA2202AF0C90097101C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3481CB9202AF0CA0097101C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3481CC4202AF0CA0097101C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
